body {
  font-family: sans-serif;
  margin: 0px;
  background-image: url(mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}


.header ul {
  list-style: none;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
}

.header li {
  float: left;
  font-size: 25px;
}

.header li img {
  width: 185px;
  margin-left: 220px;
  vertical-align: middle;
}

.header li a {
  margin-top: 30px;
  margin-right: px;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  font-size: 26px;
  font-weight: bold;
  padding: 25px;
  padding-right: 80px;
  padding-left: 80px;
  color: black;
  text-decoration: none;
  text-shadow: 1px 1px white;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: all 0.4s;
}

.header li a:hover {
  font-size: 27px;
  background-color: transparent;
  text-shadow: 0px 0px grey;
  color: black;
  background-size: 48% 2px;
}

.f-right {
  margin-top: 5px;
  margin-right: 150px;
  float: right;
}

.mainwrap {
  margin-top: 10px;
  margin-right: 40px;
  margin-left: 40px;
  height: 800px;
}

.submainwrap {
  margin-top: 10px;
  height: 807px;
  background-image: radial-gradient(grey, black);
}

.boxes {
  margin-top: 50px;
  height: 600px;
  margin-left: 25px;
  text-align: center;
  float: left;
  border-radius: 18px;
  width: 31.7%;
  min-width: 450px;
  padding: 50px;
  background-color: grey;
  box-shadow: 0px 2px 4px 0px black;
}

.boxes img {
  width: 120px;
}

.singlebox {
  margin-top: 50px;
  height: 600px;
  margin-left: 40px;
  text-align: center;
  float: left;
  width: 50%;
  padding: 50px;
  font-size: 24px;
  line-height: 37px;
}

.singlebox img {
  width: 120px;
}

.picturenexttobox {
  width: 45%;
  margin-top: 100px;
  float: right;
}

.tittel {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}

.tekstboks {
  font-size: 18px;
  color: white;
  line-height: 25px;
}

.readmorebtn {
  background-color: tomato;
  color: white;
  border-radius: 8px;
  padding: 19px;
  font-size: 18px;
  box-shadow: 0px 2px 2px 0px black;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.readmorebtn a {
  text-decoration: none;
  color: white;
}

.readmorebtn:hover {
  background-color: rgba(200, 39, 28, 1);
}

@media only screen and (max-width: 1810px) {
  .tekstboks {
    font-size: 17px;
    color: white;
    line-height: 23px;
  }
}

@media only screen and (max-width: 1650px){

  .header ul {
    list-style: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
  }

  .header li {
    float: left;
  }

  .header li img {
    width: 140px;
    margin-left: 220px;
    vertical-align: middle;
    transition: all 0.2s;
  }

  .header li img:hover {
    width: 145px;
  }

  .header li a {
    margin-top: 30px;
    display: inline-block;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    padding: 25px;
    padding-right: 60px;
    padding-left: 60px;
    color: black;
    text-decoration: none;
    text-shadow: 1px 1px white;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all 0.4s;
  }

  .header li a:hover {
    font-size: 27px;
    background-color: transparent;
    text-shadow: 0px 0px grey;
    color: black;
    background-size: 48% 2px;
  }

  .f-right {
    margin-top: 5px;
    margin-right: 80px;
    float: right;
  }

  .mainwrap {
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    height: 800px;
  }

  .boxes {
    margin-top: 50px;
    height: 600px;
    margin-left: 25px;
    text-align: center;
    float: left;
    border-radius: 18px;
    width: 31%;
    padding: 50px;
    background-color: grey;
    box-shadow: 0px 2px 4px 0px black;
  }

  .boxes img {
    width: 80px;
  }

  .singlebox {
    margin-top: 50px;
    height: 600px;
    margin-left: 40px;
    text-align: center;
    float: left;
    width: 50%;
    padding: 50px;
    font-size: 24px;
    line-height: 37px;
  }

  .picturenexttobox {
    width: 45%;
    margin-top: 100px;
    float: right;
  }

  .tittel {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
  }

  .tekstboks {
    font-size: 16px;
    color: white;
    line-height: 25px;
  }

  .readmorebtn {
    background-color: tomato;
    color: white;
    border-radius: 8px;
    padding: 19px;
    font-size: 18px;
    box-shadow: 0px 2px 2px 0px black;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
  }

  .readmorebtn a {
    text-decoration: none;
    color: white;
  }

  .readmorebtn:hover {
    background-color: rgba(200, 39, 28, 1);
  }

}

@media only screen and (max-width: 1510px) {

  .boxes {
    margin-top: 10px;
    height: 400px;
    margin-left: 145px;
    text-align: center;
    float: left;
    border-radius: 18px;
    width: 80%;
    padding: 40px;
    background-color: grey;
    box-shadow: 0px 2px 4px 0px black;
  }

  .boxes img {
    width: 80px;
  }

  .mainwrap {
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    height: 1300px;
  }
}

@media only screen and (max-width: 1370px){

  .header ul {
    list-style: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
  }

  .header li {
    float: left;
  }

  .header li img {
    width: 120px;
    margin-left: 70px;
    vertical-align: middle;
    transition: all 0.2;
  }

  .header li img:hover {
    width: 125px;
  }

  .header li a {
    margin-top: 30px;
    display: inline-block;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    padding: 25px;
    padding-right: 60px;
    padding-left: 60px;
    color: black;
    text-decoration: none;
    text-shadow: 1px 1px white;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all 0.4s;
  }

  .boxes {
    margin-top: 10px;
    margin-bottom: 60px;
    height: 400px;
    margin-left: 220px;
    text-align: center;
    float: left;
    border-radius: 18px;
    width: 60%;
    min-width:
    padding: 40px;
    background-color: grey;
    box-shadow: 0px 2px 4px 0px black;
  }

  .boxes img {
    width: 80px;
  }

  .tekstboks {
    font-size: 15px;
    color: white;
    line-height: 20px;
  }

  .singlebox {
    margin-top: 50px;
    height: 600px;
    margin-left: 40px;
    text-align: center;
    float: left;
    width: 50%;
    padding: 50px;
    font-size: 22px;
    line-height: 35px;
  }

  .singlebox img {
    width: 100px;
  }


  .picturenexttobox {
    width: 45%;
    margin-top: 180px;
    float: right;
  }
}

@media only screen and (max-width: 1150px){

  .header ul {
    list-style: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
  }

  .header li {
    float: left;
  }

  .header li img {
    width: 100px;
    margin-left: 30px;
    vertical-align: middle;
    transition: all 0.2s;
  }

  .header li img:hover {
    width: 105px;
  }

  .header li a {
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 25px;
    margin-right: 10px;
    padding-right: 30px;
    padding-left: 30px;
    color: black;
    text-decoration: none;
    text-shadow: 1px 1px white;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all 0.4s;
  }

  .boxes {
    margin-top: 10px;
    margin-bottom: 80px;
    height: 400px;
    margin-left: 150px;
    text-align: center;
    float: left;
    border-radius: 18px;
    width: 60%;
    min-width: 530px;
    padding: 40px;
    background-color: grey;
    box-shadow: 0px 2px 4px 0px black;
  }

  .boxes img {
    width: 80px;
  }

  .tekstboks {
    font-size: 15px;
    color: white;
    line-height: 20px;
  }

  .tittel {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
  }

  .mainwrap {
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    height: 1440px;
  }

  .singlebox {
    margin-top: 50px;
    height: 600px;
    margin-left: 40px;
    text-align: center;
    float: left;
    width: 50%;
    padding: 50px;
    font-size: 20px;
    line-height: 30px;
  }

  .picturenexttobox {
    width: 45%;
    margin-top: 200px;
    float: right;
  }
}

@media only screen and (max-width: 860px){

  .header ul {
    list-style: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
  }

  .header li {
    width: 100%;
  }

  .header li img {
    display: block;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s;
  }

  .header li img:hover {
    width: 135px;
  }

  .f-right {
    display: none;
    margin-top: 5px;
    margin-right: 80px;
    float: right;
  }

  .header li a {
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin-right: 0px;
    padding-right: 20px;
    padding-left: 30px;
    color: black;
    text-decoration: none;
    text-shadow: 1px 1px white;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all 0.4s;
  }

  .boxes {
    margin-top: 10px;
    margin-bottom: 100px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: left;
    border-radius: 18px;
    width: 100%;
    min-width: 530px;
    padding: 40px;
    background-color: grey;
    box-shadow: 0px 2px 4px 0px black;
  }

  .boxes img {
    width: 80px;
  }

  .tekstboks {
    font-size: 15px;
    color: white;
    line-height: 20px;
  }

  .tittel {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
  }

  .mainwrap {
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    height: 1440px;
  }

  .singlebox {
    margin-top: 50px;
    height: 600px;
    margin-left: 40px;
    text-align: center;
    float: left;
    width: 50%;
    padding: 50px;
    font-size: 20px;
    line-height: 20px;
  }

  .singlebox img {
    width: 80px;
  }

  .picturenexttobox {
    width: 40%;
    margin-top: 200px;
    float: right;
  }

}

@media only screen and (max-width: 620px){

  .header ul {
    list-style: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
  }

  .header li {
    width: 100%;
  }

  .header li img {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s;
  }

  .header li img:hover {
    width: 105px;
  }

  .f-right {
    display: none;
    margin-top: 5px;
    margin-right: 80px;
    float: right;
  }

  .header li a {
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin-right: 0px;
    padding-right: 20px;
    padding-left: 30px;
    color: black;
    text-decoration: none;
    text-shadow: 1px 1px white;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all 0.4s;
  }

  .boxes {
    margin-top: 10px;
    margin-bottom: 100px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: left;
    border-radius: 18px;
    width: 100%;
    min-width: 20px;
    padding: 40px;
    background-color: grey;
    box-shadow: 0px 2px 4px 0px black;
  }

  .boxes img {
    width: 60px;
  }

  .tekstboks {
    font-size: 13px;
    color: white;
    line-height: 18px;
  }

  .tittel {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
  }

  .readmorebtn {
    background-color: tomato;
    color: white;
    border-radius: 8px;
    padding: 15px;
    font-size: 14px;
    box-shadow: 0px 2px 2px 0px black;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
  }

  .mainwrap {
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    height: 1440px;
  }

  .singlebox {
    margin-top: 50px;
    height: 450px;
    margin-left: 0px;
    text-align: center;
    float: left;
    width: 100%;
    padding: 50px;
    font-size: 20px;
    line-height: 20px;
  }

  .picturenexttobox {
    width: 70%;
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

}

@media only screen and (max-width: 490px){

  .header ul {
    list-style: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
  }

  .header li {
    width: 100%;
  }

  .header li img {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s;
  }

  .header li img:hover {
    width: 105px;
  }

  .f-right {
    display: none;
    margin-top: 5px;
    margin-right: 80px;
    float: right;
  }

  .header li a {
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin-right: 0px;
    padding-right: 20px;
    padding-left: 30px;
    color: black;
    text-decoration: none;
    text-shadow: 1px 1px white;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all 0.4s;
  }

  .boxes {
    margin-top: 10px;
    margin-bottom: 100px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: left;
    border-radius: 18px;
    width: 100%;
    min-width: 20px;
    padding: 40px;
    background-color: grey;
    box-shadow: 0px 2px 4px 0px black;
  }

  .boxes img {
    width: 50px;
  }

  .tekstboks {
    font-size: 13px;
    color: white;
    line-height: 17px;
  }

  .tittel {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
  }

  .readmorebtn {
    background-color: tomato;
    color: white;
    border-radius: 8px;
    padding: 13px;
    font-size: 13px;
    box-shadow: 0px 2px 2px 0px black;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
  }

  .mainwrap {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    height: 1440px;
  }

  .singlebox {
    margin-top: 50px;
    height: 400px;
    margin-left: 0px;
    text-align: center;
    float: left;
    width: 100%;
    padding: 20px;
    font-size: 18px;
    line-height: 18px;
  }

  .picturenexttobox {
    width: 100%;
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}
